
h2
{
	font-size: 15em;
	margin-top: 3%;
}
.formulaire
{
	margin-left: 12%;
}
form
{
border : 5px #17e2cd solid;
border-radius: 10px;
background-color: white;
	/*margin-right : 5em;
	margin-left: 5em;*/
margin : auto;
margin-bottom : 16em;
margin-top: 16em;
padding-left : 20em;
padding-right: 5em;
width : 700px;
padding-top: 2%; 
}
label
{
	color : #505050;
	padding-top: 5px;
	
}

input
{
	border: 2px solid #ddd;
	border-radius: 3px;
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-top: 10px;
	font-family:"Calibri";
	padding: 6px;
	margin-right: 20px;
	width: 60%;
	
	
}
.description 
{
	display : inline;
	color : red;
	padding-left: 5px;
}
input[type="submit"]:hover /*colore le bouton d'envoi en turquoise au survol*/ 
{
	background-color: #17e2cd;
	color : white;
}
input[type="submit"]
{
	border : none;
	background-color: white; 
	font-size : 20px;
	border: 2px solid #17e2cd ;
	border-radius: 3px;
	margin-bottom: 20px; 
}
