
/* HEADER */

header
{
	
	/* position: fixed; */
	height: 80px;
	background-color: #efefef;
	width: 100%;
}

.logo
{
	position: absolute;
	left: 30px;
	top: 2px;
}

header h1
{
	position: absolute;
	float: left;
	top: 20px;
	left: 140px;
	font-size : 230%;
}

.logoMonCompte{
	float: left;
	margin-right: 22px;
	margin-top: -22px;
}

header nav
{
	position: absolute;
	top: 30px;
	right: 180px;

}

header nav ul li
{
	float: left;
	display: inline-block;
	font-size: 100%;
}

header nav ul li a
{
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

.drapeau{
	position: absolute;
	right: 140px;
	top: 25px;
	width: 40px;
}

@media all and (max-device-width: 480px)
{
	header
	{
		height: 130px;
	}

	.logo
	{
		top: 27px;
		width: 10%;
	}

	header h1{
		font-size : 0%;
	}

	header nav
	{
		top: 55px;
		right: 110px;
	}

	.drapeau{
		right: 25px;
		top: 45px;
		width: 80px;
	}

	header nav ul li a
	{
		font-size: 200%;
	}
}
/* FOOTER */

/*
footer
{
	height: 260px;
	background-color: #444;
}

footer h1
{
	color: #fff;
	text-align: center;
	padding-top: 80px;
}

.copyright
{
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #777;
}
*/