section h4{

    font-size: 21px;
    border-bottom: 2px solid #5cbed6;
    display: inline-block;
}


@media all and (max-device-width: 480px)
{

    section{
        margin: 50px 100px;
    }
    
    section article{
	font-size : 40px;
    }

    section h4{
        font-size: 50px;
    }

    section h1{
        font-size: 90px;
    }
}