.conteneur3 h5  {

	 font-size: 18px;
    border-bottom: 2px solid #5cbed6;
    display: inline-block;
     color: #505050
}

.conteneur3 h1{
	color: #505050;
    font-size: 30px;

    margin-bottom: 1em;
    
    font-weight: bold;

    border-bottom: 4px solid #5cbed6;
    display: inline-block;
}
.carré p {
	  font-size: 15px;
}

#cgu
{
	padding: 60px 0;
	text-align: center;
}


#reglement
{
	text-align: center;

}

/*.rectangle
{
	width:600px;
	height:500px;
	border:1px solid #000;
	position: absolute;
	left: 29%;
	top:38%;
	background-color: #ddd;

}*/

/*.button1
{
	position: absolute;
	left: 20%;
	top: 30%;

}


.button2
{
	position: absolute;
	left: 21%;
	top:90%;
}



.button3
{
	position: absolute;
	left: 63%;
	top:90%;

}*/

/*.cadre
{
	margin-bottom: 10%;
}*/