


/* CONTACT */

label
{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color: #777;
}

input[type="text"]
{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}

.button-3
{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: #02b8dd;
	border-style: none;
	border-radius: 3px;
}

.button-3:hover{
	background-color: #444;
}





/* NOUS CONTACTER */


#milieu
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#gauche {
	margin-left: 110px;
}

#droite {

}

strong
{
	font-size: 18px;
	color : black;
}

.faq
{
	opacity: 55%;

}

.contacter
{
	
	font-weight: bold;
}







