table{
	border: none;
	outline: none;
	background: none;
	color: #444;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 30px 30px;
}

td 
{
	padding-bottom: 10px;
}
.description 
{
	color : red;
	font-size : 0.7em;

	
}
.genre
{
	display : inline;
	padding : 10px; 
	font-size : 20px;
}

table label
{
	color : black;
	font-size: 95%;
}
.lien a
{
	font-size: 90%;
	color : blue;
}
input{
	padding: 10px;
	font-size: 20px;
	/*margin-right: 40%;*/
	border: 2px solid #ddd;
	border-radius: 3px;
	margin-bottom: 5px;
	
}

.textbox{
	margin: 5px 30%;
}

.btn{
	text-align: center;
	margin-left: 85px;
	font-size: 140%;

}

.conteneur2{
	height: 700px;
	width: 500px;
}

.conteneur3{
	margin-top: 10px;
}

select{
	padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

