
.conteneur2{
width: 600px;
height: 250px;
margin-bottom: 5%;
}

.conteneur3{
margin-top: -110px;
margin-bottom: -50px;
}

.textbox{
	width: 200%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0; /* mettre 8px 10% */
	border-bottom: 1px solid #5cbed6;
	margin-left: -50%;
}

.btn{
	width: 100%;
}

.test
{
	text-align: center;
	margin-top: 30px;
	margin-left: 0.5%;

}