* /*selectionne tous les elements*/
{
    margin: 0;
    padding: 0;

}
form
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: -40px;
}


/* modification de la barre denavigation à gauche*/


.menuAdmin ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #efefef;
    width: 250px;
    margin-top: -18px;

}

.caseGestionnaire{
    display: block;
    text-decoration: none;
    width: 248px;
    height: 70px;
    border: 2px solid #5cbed6;
    font-size: 20px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caseAdmin{
    display: block;
    text-decoration: none;
    width: 248px;
    height: 58px;
    border: 2px solid #5cbed6;
    font-size: 20px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caseUtilisateur{
    display: block;
    text-decoration: none;
    width: 248px;
    height: 118px;
    border: 2px solid #5cbed6;
    font-size: 20px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.menuUtilisateur{
    height: 100px;
}

.menuAdmin li:hover{
    background-color: #5cbed6;
}

.menuAdmin li :active{
    background-color: #ffffff;
}

/* modification du bloc information compte*/

.conteneur2{
    width: 550px;
    height: 328px;
}

/* modification de la barre de recherche*/
.barreDeRecherche label{
    font-size: 130%;
    margin-right: 5px;

}

.barreDeRecherche{
    margin-left: 45%;
    font-size: 25px;
    width: 500px;
}

#milieuPage{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 500px;
}



/* pour le Header */

li{
    font-size: 115%;
}


header
{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #444;
}


h1
{
    font-family: 'Crete Round', serif;
    font-size: 50px;
    color: #444;
}


a
{
    text-decoration: none;
    color: #444;
}


.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

input{
    width: 20%;
    height: 3%;
    margin-right: 10px;
}

.btn{
    font-size: 14px;
}