p
{
	margin-top: -20px;
	margin-bottom: 20px;
	font-family: "Lato";
	color : rgb(48,82,231);
	text-align: center;

}

label{
	font-size: 150%;
}

.saisie{
	margin-left: 8%;
}

.conteneur2{
	width: 600px;
	height: 220px;
	margin-bottom: 7%;
}

.btn{
	font-size: 15px;
	margin-left: 20%;
	margin-top: 20px;
}
