label 
{
	font-family: "Lato";
	font-size: 30px;
	color : #444;
}

.inputRecherche
{
	font-size: 15px;
	width: 313px;
	height: 30px;
	margin: 10px
}

.sousTitre
{
	padding-left: 160px;
	color : #333;
	font-family: "Lato";
	font-size: 25px;
}

.contenu
{
	margin : auto;
	background-color: rgb(247, 247, 247);
	padding-left: 70px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom : 50px;
	margin-top: 2%; 
	width: 700px;
	border : 2px #5cbed6 solid;
	margin-bottom: 5%;
}

form
{
	display: inline-block;
}


.resultats
{
	padding-left: 0px;
}

p
{
	margin-top : 20px;
	border : 2px purple solid;
	width:220px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-align: center;

}
p:hover
{
	background-color : #965096;
}

.conteneur1
{
	margin-bottom: 125px;
}


