table
{
	margin-top : 30px;
	border-collapse: collapse;
}

.graph
{
	margin-top: 30px;
	margin-bottom: 30px;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

label
{
	font-size: 20px;
	font-family : "Lato";
	color : red;
}
textarea
{
	border: 1px solid #ddd;
	border-radius: 10px;
}


p{
	text-align: center;
}

.conteneur2{
	width: 300px;
}