/* Cette page CSS permet d'homogénéiser le titre et le centre de page de toutes les pages "classiques" */

h2
{
	margin-top: 50px;
	text-decoration: 2px underline #5cbed6;
	text-align: center;
	margin: 30px;
}

.conteneur1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.conteneur2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    border : 2px #5cbed6 solid;
    border-radius: 5px;
	padding-bottom: 30px;
	background-color: #efefef;
}

.conteneur3{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: #444;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn{
    background: none;
    border: 2px solid #5cbed6;
    color: #444;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0 0 0; /* mettre 10% */
}

.btn:hover{
    background: #5cbed6;
}